<article>
        <ul>
                <li>Title:{{book.title}}</li>
                <li>Author:{{book.author.name}}</li>
                <li>Type:{{book.type}}</li>
                <li>Price:{{book.price}}</li>
                <li>Number in Stock:{{book.numberinstock}}</li>
        </ul>        
</article>       
{{yield}}